.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  padding: 20px 0;
  position: relative;
  max-width: 692px;
}

.link-btn {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-btn-content {
  margin-left: 12px;
  width: 624px;
  -webkit-flex: 1 1 624px;
  -ms-flex: 1 1 624px;
  flex: 1 1 624px;
}

.div-btn-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    background: rgba(22, 24, 35, 0.2);
  }
}

.link-btn_div {
  width: 56px;
  height: 56px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.link-btn_span {
  width: 56px;
  height: 56px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-feature-settings: 'tnum';
  position: relative;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.5);
  border-color: rgba(22, 24, 35, 0.12);
  border-width: 0.5px;
  cursor: pointer;
}

.div-btn_item {
  margin-right: 114px;
}

.div-btn_item-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-btn-item {
  display: none;
  margin-right: 12px;
}

.link-btn-item_div {
  width: 40px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.link-btn-item_span {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-feature-settings: 'tnum';
  position: relative;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.5);
  border-color: rgba(22, 24, 35, 0.12);
  border-width: 0.5px;
  cursor: pointer;
}

.title {
  font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  margin-right: 4px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.name-title {
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  line-height: 28px;
}

.video-music {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
  margin-bottom: 12px;
  text-decoration-skip-ink: auto;
}

.video-music_a {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

.div_first {
  position: relative;
  box-sizing: border-box;
  background: #eee center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 20px;
  width: 600px;
}

.canvas-video {
  display: block;
  visibility: hidden;
  width: 100%;
}

.div_first-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &:hover > .button-play {
    opacity: 1;
  }
  &:hover > .button-sound {
    opacity: 1;
  }
  &:hover > .button-footer {
    opacity: 1;
  }
  &:hover > .button-report {
    opacity: 1;
  }
}

.div-1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(22, 24, 35, 0.06);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
}

.div-1_item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.button-play {
  left: 12px;
  position: absolute;
  bottom: 12px;
  padding: 10px;
  width: 40px;
  height: 40px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  bottom: 26px;
}

.button-sound {
  position: absolute;
  bottom: 26px;
  left: unset;
  right: 12px;
  opacity: 0;
}

.button-footer {
  width: 100%;
  height: 16px;
  padding-inline: 12px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  bottom: 12px;
  cursor: pointer;
  display: flex;
}

.button-report {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  right: 16px;
  position: absolute;
  top: 24px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  display: flex;
  align-items: center;
}

.video-sound {
  padding: 8px;
  opacity: 1;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease 0s;
}

.button-reaction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button-heart {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title-reaction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 0px;
  border-radius: 50%;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  background-color: rgba(22, 24, 35, 0.06);
  margin-top: 8px;
  margin-bottom: 6px;
}

.div_first {
  width: 336px;
  height: 600px;
}

canvas {
  padding: 18px 0;
}

.tag {
  padding-left: 1px;
  padding-right: 1px;
}

.tag_strong {
  cursor: pointer;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.Big {
  width: 556px;
  height: 314.11px;
}

.title-reactjs {
  color: rgba(22, 24, 35, 0.75);
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

.process-item {
  width: 100%;
  height: 16px;
  flex: 1 1 auto;
  position: relative;

  &:hover > .process-stonk2 {
    height: 4px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    opacity: 1;
  }
  &:hover > .process-stonk1 {
    display: block;
  }
}

.process-stonk {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.process-stonk1 {
  display: none;
  width: 12px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
  left: 6px;
}

.process-stonk2 {
  height: 2px;
  width: 0%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transform-origin: left center;
  background-color: white;
}

.process-number {
  flex: 0 0 64px;
  max-width: 64px;
  margin-inline-start: 8px;
  font-size: 10px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  text-align: end;
  white-space: nowrap;
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
  font-family: Tahoma, PingFangSC, sans-serif;
}
