.wrapper {
  position: fixed;
  inset: 0px;
  z-index: 1001;
  overflow: auto;
  outline: 0px;
  display: flex;
}

.wrapper-ui {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0px;
}

.wrapper-select {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  position: relative;
  max-height: 693px;
  overflow: hidden;
}

.wrapper-init {
}

.wrapper-init_item {
  margin-bottom: 4px;
  color: red;
}

.wrappe {
  padding: 20px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}
