.wrapper {
  position: fixed;
  inset: 0px;
  z-index: 1001;
  overflow: auto;
  outline: 0px;
  display: flex;
  visibility: hidden;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.wrapper-ui {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0px;
}

.wrapper-select {
  opacity: 0;
  border-radius: 8px;
  transform: translateX(-30%);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  background-color: rgb(255, 255, 255);
  margin: auto;
  position: relative;
  max-height: 693px;
  height: 80%;
  overflow: hidden;
}
.container {
  width: 483px;
  height: 100%;
  padding: 48px 0px 0px;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 1;
  right: 24px;
  width: 24px;
  height: 24px;
  background: rgba(22, 24, 35, 0.03);
  transform: scale(1.7);
}

.header-login {
  flex: 1 1 0%;
  overflow: auto;
}
.footer-login {
  color: rgb(22, 24, 35);
  font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  height: 64px;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
}

.content {
  width: 375px;
  margin: auto;
  padding: unset;
}

.title {
  color: rgb(22, 24, 35);
  font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 32px;
  margin: 16px auto;
  font-weight: bold;
  text-align: center;
}

.link-login {
  color: rgba(22, 24, 35, 0.75);
  font-weight: 600;
  font-size: 12px;
}

.link-login-item {
  color: rgb(22, 24, 35);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  border: 1px solid rgba(22, 24, 35, 0.12);
  font-size: 15px;
  padding: 0px 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 44px;
  min-width: 300px;
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  word-break: keep-all;
  white-space: nowrap;
}

.item-properties {
  left: 12px;
  font-size: 20px;
  position: absolute;
  display: flex;
}

.link-login {
  font-weight: 600;
  font-size: 12px;
}

.link-login1 {
  margin-left: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: rgb(254, 44, 85);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
