.scrollbar-btn {
  height: 171.586px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1) scale(2.95041) translateZ(-1.95041px) translateZ(-2px);
  position: absolute;
  padding: 0 4px;
  top: 0;
  transform-origin: right top;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  right: 0;
  transform-origin: right top;
}

.scrollbar-item {
  width: 6px;
  height: 100%;
  border-radius: 3px;
  background: rgba(22, 24, 35, 0.06);
}
